.modal {
	z-index: 999999;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.2s ease 0s;
	pointer-events: none;
	cursor: pointer;
	&__container {
		box-sizing: border-box;
		max-width: 99.375rem;
		padding: 1.2rem;
		margin: 0 auto;
		//
		cursor: auto;
		border-radius: 12px;
		background-color: #fff;
		width: 50vw;
		// transform: translate(0, -200%);
		transform: scale(0.3);
		transition: all 0.5s ease 0s;
		&.active {
			transform: scale(1);
			// transform: translate(0, 0);
		}
	}
	&.active {
		opacity: 1;
		pointer-events: all;
	}
}
