@use "sass:math";
@import "../../../Common.scss";

.products-slider {
	&__dotts {
		display: grid;
		grid-auto-flow: column;
		//
		transform: translate(0px, 10%) !important;
		//
		justify-content: center;
		margin: 0 auto;
		overflow: hidden;
		& .swiper-pagination-bullet {
			margin: 0px rem(7.5);
			cursor: pointer;
			border-radius: 0;
			opacity: 1;
			height: rem(30);
			width: rem(18);
			position: relative;
			background-color: unset;
			transition: all 0.3s ease 0s;
			&::after {
				content: "";
				height: rem(2);
				top: 50%;
				transform: translate(0px, -50%);
				position: absolute;
				width: 100%;
				background-color: #898989;
			}
			&::before {
				content: "";
				background-color: $mainOrange;
				width: rem(10);
				height: rem(10);
				top: 50%;
				left: 0;
				border-radius: 50%;
				transform: translate(0px, -50%);
				position: absolute;
				opacity: 0;
			}
			&-active {
				&::after {
					background-color: $mainOrange;
				}
				&::before {
					opacity: 1;
					transition: left 3s linear 0s;
					left: rem(8);
				}
			}
		}
	}
	&__container {
	}

	&__header {
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(20);
		}
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 50, 30);
		}
	}

	&__title {
		letter-spacing: 0.05em;
		font-size: rem(30);
		font-weight: 700;
		line-height: math.div(46, 30);
	}

	&__more {
		color: rgba(20, 20, 20, 0.58);
		font-weight: 600;
		font-size: rem(18);
		display: inline-flex;
		align-items: center;
		gap: em(15, 18);
		//
		transition: all 0.3s ease 0s;
		flex-direction: row-reverse;

		&::before {
			font-size: em(7, 18);
			transform: rotate(90deg);
			color: $mainOrange;
		}

		@media (any-hover: hover) {
			&:hover {
				color: rgba(20, 20, 20, 1);
			}
		}
	}

	&__slider {
	}

	&__swiper {
		padding: rem(15) rem(15);
		margin: 0 rem(-15);
	}

	&__slide {
		@include adaptiv-value("margin-bottom", 50, 30);
	}
}
