@use "sass:math";
@import "../../Common.scss";

.main-block {
	overflow: hidden;
	background: url("../../assets/img/mainpage/main-block/bg.jpg") center / cover no-repeat;
	@include adaptiv-value("padding-top", 40, 40);
	@include adaptiv-value("padding-bottom", 60, 40);
	&__container {
	}

	&__body {
		display: grid;
		align-items: start;
		row-gap: rem(40);
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 43, 30);
		}
		@media (min-width: $tablet) {
			grid-template-columns: 1fr prc(635, 1600);
		}
	}
	&__slider {
		width: 100%;
		margin: 0px rem(-30);
		padding: 0px rem(30);
	}
	// &__swiper {
	// }
	.swiper-wrapper {
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}
	&__slide {
	}
	&__media {
	}
	&__advantages {
	}
	&__controll {
	}
}
.controll-main-block {
	display: inline-grid;
	grid-auto-flow: column;
	align-items: center;
	gap: rem(20);
	&__dotts {
		display: inline-grid;
		grid-auto-flow: column;
		gap: rem(15);

		& .swiper-pagination-bullet {
			cursor: pointer;
			border-radius: 0;
			opacity: 1;
			height: rem(30);
			width: rem(18);
			position: relative;
			background-color: unset;
			transition: all 0.3s ease 0s;
			&::after {
				content: "";
				height: rem(2);
				top: 50%;
				transform: translate(0px, -50%);
				position: absolute;
				width: 100%;
				background-color: #fff;
			}
			&::before {
				content: "";
				background-color: $mainOrange;
				width: rem(10);
				height: rem(10);
				top: 50%;
				left: 0;
				border-radius: 50%;
				transform: translate(0px, -50%);
				position: absolute;
				opacity: 0;
			}
			&-active {
				width: rem(30);
				&::after {
					background-color: $mainOrange;
				}
				&::before {
					opacity: 1;
					transition: left 3s linear 0s;
					left: rem(20);
				}
			}
		}
	}
	&__fraction {
	}
}

.fraction-controll {
	display: flex;
	color: #fff;
	align-items: flex-end;
	font-weight: 600;
	letter-spacing: 0.2em;
	&__current {
		color: $mainOrange;
		font-size: rem(24);
	}
	&__all {
		font-size: rem(18);
	}
}

.slide-main-block {
	&__content {
		color: #fff;
		@media (min-width: $tablet) {
			padding: 0px rem(40) 0px 0px;
		}
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 60, 30);
		}
	}
	&__title {
		font-weight: 700;
		letter-spacing: 0.03em;
		@include adaptiv-value("font-size", 36, 22, 992, 320, 1);
		line-height: math.div(46, 36);
		&:not(:last-child) {
			margin-bottom: em(15, 36);
		}
	}
	&__sub-title {
		line-height: math.div(46, 36);
		&:not(:last-child) {
			margin-bottom: em(30, 36);
		}
	}
	&__text {
		color: rgba(255, 255, 255, 0.7);
		@include adaptiv-value("font-size", 20, 16, 992, 320, 1);
		line-height: math.div(30, 20);
	}
	&__button {
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}

.button {
}
.media-main-block {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: rem(15);
	&__body {
		position: relative;
	}
	&__image {
		&::before {
			content: "";
			width: prc(423, 449);
			padding-bottom: prc(423, 449);
			border: 2px solid rgba(255, 255, 255, 0.5);
			border-radius: 50%;
			position: absolute;
			bottom: 3.5%;
			right: 0;
			transform: translate(prc(131, 423), 0px);
		}
		img {
			max-width: 100%;
			position: relative;
			z-index: 2;
		}
	}
	&__tips {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	}
	&__tip {
		position: absolute;

		span {
			z-index: 2;
			color: #fff;
			font-weight: 600;
			font-size: rem(20);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__image {
		}
		&__tips {
		}
		&_1 {
			top: prc(186, 500);
			left: prc(72, 447);
		}
		&_2 {
			top: prc(57, 500);
			right: prc(13, 447);
		}
		&_3 {
			bottom: prc(115, 500);
			right: prc(28, 447);
		}
	}
}
.tip-block {
	&__tooltip {
		transition: opacity 0.3s ease 0s;
		opacity: 0;
		&_hovered {
			opacity: 1;
		}
	}
	&__icon {
		padding: 0;
		display: block;
		cursor: pointer;
		width: rem(20);
		height: rem(20);
		&::before,
		&::after {
			content: "";
			border-radius: 50%;
			background-color: $mainOrange;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		&::after {
			opacity: 0.5;
			transform: scale(1.6);
		}
		transition: transform 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				transform: rotate(-180deg);
			}
		}
	}
}
.advantages-main {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: rem(20);
	justify-content: space-between;
	@media (max-width: $tablet) {
		row-gap: rem(30);
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}
	@media (max-width: $mobile) {
		grid-template-columns: repeat(1, 1fr);
	}
	&__item {
		display: inline-grid;
		gap: rem(17);
		text-align: center;
		max-width: rem(290);
		grid-template-rows: 77px auto;
	}
	&__icon {
		align-self: center;
	}
	&__text {
		color: #fff;
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(32, 20);
	}
}

//---------------------------------------------------------------------------

.catalog-cards {
	@include adaptiv-value("padding-top", 100, 40);
	@include adaptiv-value("padding-bottom", 70, 40);
	&__container {
		display: grid;
		gap: rem(30);
		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
		}
	}
	&__item {
	}
}
.item-catalog-cards {
	overflow: hidden;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	position: relative;
	min-height: rem(290);
	transition: box-shadow 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
		}
	}

	&__body {
		position: relative;
		z-index: 2;
		@include adaptiv-value("padding", 30, 20);
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: em(30, 24);
		}
	}
	&__link-title {
		font-weight: 600;
		font-size: rem(24);
		line-height: math.div(34, 24);
		display: inline-block;
		&::after {
			content: "";
			width: rem(70);
			height: rem(2);
			display: block;
			background-color: $mainOrange;
			transition: width 0.5s ease 0s;
			margin: rem(15) 0px 0px 0px;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					content: "";
					width: 100%;
				}
			}
		}
	}

	&__list {
	}

	&__item {
		position: relative;
		padding: 0px 0px 0px rem(20);
		&::before {
			content: "";
			width: rem(6);
			height: rem(6);
			background-color: $mainOrange;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: em(8, 18);
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	&__link {
		font-size: rem(18);
		line-height: math.div(24, 18);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__image {
		width: 100%;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		transform: translate(0px, 8%);
		img {
			max-width: 100%;
		}
		@media (min-width: $mobileSmall) {
			position: absolute;
			height: 100%;
			top: 0;
			right: 0;
		}
	}
}

//---------------------------------------------------------------------------

.hits-products {
	@include adaptiv-value("padding-top", 50, 40);
	@include adaptiv-value("padding-bottom", 120, 40);
	&_no-top {
		padding-top: 0;
	}
}
.sale-products {
	@include adaptiv-value("padding-top", 120, 40);
	@include adaptiv-value("padding-bottom", 120, 40);
	&_no-bottom {
		padding-bottom: 0;
	}
}

//---------------------------------------------------------------------------
.dotts {
	display: grid;
	grid-auto-flow: column;
	//
	transform: translate(0px, 10%) !important;
	//
	justify-content: center;
	margin: 0 auto;
	overflow: hidden;
	& .swiper-pagination-bullet {
		margin: 0px rem(7.5);
		cursor: pointer;
		border-radius: 0;
		opacity: 1;
		height: rem(30);
		width: rem(18);
		position: relative;
		background-color: unset;
		transition: all 0.3s ease 0s;
		&::after {
			content: "";
			height: rem(2);
			top: 50%;
			transform: translate(0px, -50%);
			position: absolute;
			width: 100%;
			background-color: #898989;
		}
		&::before {
			content: "";
			background-color: $mainOrange;
			width: rem(10);
			height: rem(10);
			top: 50%;
			left: 0;
			border-radius: 50%;
			transform: translate(0px, -50%);
			position: absolute;
			opacity: 0;
		}
		&-active {
			&::after {
				background-color: $mainOrange;
			}
			&::before {
				opacity: 1;
				transition: left 3s linear 0s;
				left: rem(8);
			}
		}
	}
}
//---------------------------------------------------------------------------

.products-new {
	padding: rem(45) 0px 0px 0px;
	position: relative;
	background: url("../../assets/img/new-products/bg.jpg") bottom / cover no-repeat;
	&::before {
		background-color: #fff;
		content: "";
		height: rem(46);
		position: absolute;
		top: -1px;
		right: 0;
		width: prc(1030, 1920);
	}
	&__inner {
		@include adaptiv-value("padding-top", 55, 20);
		@include adaptiv-value("padding-bottom", 55, 20);
	}
	&__container {
		display: grid;
		row-gap: 40px;
		@media (min-width: 1080px) {
			grid-template-columns: rem(400) 1fr;
			align-items: start;
		}
	}
	&__body {
		@include adaptiv-value("padding-right", 70, 20, 1630, 922, 1);
		@media (max-width: 1080px) {
			padding: 0px;
		}
	}

	&__section {
		position: relative;
		z-index: 2;
	}
	&__title {
		font-weight: bold;
		font-size: rem(30);
		color: #fff;
		line-height: math.div(46, 30);
		&:not(:last-child) {
			margin-bottom: em(30, 30);
		}
	}
	&__text {
		font-size: rem(18);
		line-height: math.div(27, 18);
		letter-spacing: 0.03em;
		color: rgba(255, 255, 255, 0.7);
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 60, 20);
		}
	}
	&__link {
	}
	&__content {
		min-width: 0;
		@media (min-width: $tablet) {
			padding: rem(37) 0 0 0;
		}
	}
	&__slide {
	}
	&__slider {
	}
	&__dotts {
		margin: 0 auto;
	}
	&__swiper > div {
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 50, 20);
		}
	}
}
// 4.48.00
//---------------------------------------------------------------------------

.link-arrow {
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: center;
	color: $mainOrange;
	font-size: rem(20);
	font-weight: 600;
	&::before {
		content: "";
		margin: 0px 0px 0px em(20, 20);
		transform: rotate(-90deg);
		font-size: rem(8);
	}
	@media (any-hover: hover) {
		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}
}
