@use "sass:math";
@import "../../Common.scss";

.header {
	&__top {
		background: $mainDarkColor;
		color: #fff;
		padding: rem(10) 0;
	}
	&__body {
	}
}

.menuCatalog {
	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background: $mainDarkColor;
		padding: rem(25) rem(15) rem(50) rem(15);
		transition: all 0.3s ease 0s;
		&.catalogOpen {
			left: 0;
			z-index: 6;
		}
	}
}
